*{
    margin: 0;
    padding: 0;
}

body {
    font-weight: lighter;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-color: #CBC3E3;
}

span {
    font-size: 26px;
}
header h1{
    font-size: 58px;
    font-weight: lighter; 
    justify-content: space-between;
    flex-wrap: wrap;
}
header nav {
    margin: 7px 0;
}
header p {
    font-size: 28px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    font-size: 34px;
    font-weight: lighter;
    text-decoration: none;
    list-style: none;
}
header nav ul li a {
    padding: 10px 30px;
    text-decoration: none; 
    color: black;  
}
header nav ul li a:hover {
    color: #966fd6;
}
header nav ul li a:active {
    color:gold;
}
header img {
    display: flex;
    height: 200px;
    width: 750;
    align-items: flex-end;
    justify-content: space-evenly;
}
section {
    padding: 20px 45px;

}
.section p img {
    width: 125px;
    height: 125px;
    background-color: white;;
}
/*.section p {
    font-size: 36px;
    text-align:end;
}
*/
.section-title {
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}
#about-me {
    display: flex;

}
#about-me h2 {
    padding: 20px;
}
#about-me p{
    font-size: 38px;
    text-align: center;
}
#about-me img{
    padding: 20px 10px;
    width: 350px;
    height: 350px;
    text-align: center;
}
#projects h2 {
    padding: 20px;
}
#projects p {
    font-size: 34px;
}
#projects div img:hover { 
    transform: scale(1.2); 
}
#contact h2 {
    padding: 20px;
}
#contact p {
    font-size: 34px;
}
#contact p img {
    display: flex;
    justify-content: flex-start;
}
#contact p img:hover {
    color: #966fd6;
    background-color: #b19cd9;
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
footer {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: lighter;
}
strong, em {
    color: #966fd6;
    /*color: #9BA17B;
    /*color: #b19cd9;*/
}
.run-buddy img{
    width: 500px;
    height: 400px;
    border: black 2px solid;
}

/*media query for small laptop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2 {
        text-align: center;
        width: 100%;
    }
    section {
       /* width: 100%;*/
    }
    #projects div a {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 768px) {


}

@media screen and (max-width: 575px) {

}